<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
      <span class="brand-name">WanderLust</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav search-container ms-auto me-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control search-input"
            type="search"
            placeholder="Search destinations"
            aria-label="Search"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <div class="nav-link user-profile">
          <i class="fa-solid fa-bars me-2"></i>
          <i class="fa-solid fa-circle-user"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
